:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #257eeb;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin: 0 0.5em 1em 0.5em;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
    padding: 1em 1.2em;
    margin: 0 0 1em 0;
}

.container__descricao {
    padding: 2em;
}

.botao__secundario {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-size: 40px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.secundario__botao:hover {
    padding: 1em 1.2em;
    margin: 16px 8px;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 4em 0;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.footer {
    text-align: center;
    align-items: center;
    margin: 0 8%;
}

.footer__logo {
    width: 102px;
    height: 35.28px;
    margin-bottom: 40px;
}

.footer__link {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
    margin-bottom: 2em;
    justify-content: center;
}

.list__link {
    font-family: "Inter";
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 16px;
}

.list__link:hover {
    color: var(--botao-azul);
}

.footer__aviso {
    color: var(--cinza-secundario);
    font-size: 14px;
    margin-bottom: 16px;
}
